.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.item {
  cursor: pointer;
  width: 100%;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  background-color: red;
  color: #f9f9f9;
}

.completed {
  text-decoration-line: line-through;
  text-decoration-thickness: 0.2rem;
}
